body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #837569;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

h1, p {
  color: white;
}

.wrapper {
  background-color: #837569;
  max-width: 80%;
  margin: 0 auto;
}

.jumbotron {
  text-align: center;
  background-color: #241623;
  color: black;
  margin-bottom: 0;
}

.description {
  white-space: pre-wrap;
}

.time-block{
  height: 80px;
}

.row {
  white-space: pre-wrap;
  border-top: 1px solid transparent;
  margin-right: 0;
  margin-left: 0;
}

.hour {
  background-color: #241623;
  color: white;
  padding-top: 0.5em;
  padding-right: 0.5em;
  text-align: right;
}

.past {
  background-color: #D7DDCF;
  color: lightslategray;
}

.present {
  background-color: #9BAA88;
  color: black;
}

.future {
  background-color: #566246;
  color: white;
}

.saveBtn {
  border-width: 0 0 0 1;
  border-style: solid;
  border-color: transparent;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
}

.saveBtn:hover {
  font-size: 150%;
  transition: all .3s ease-in-out;
}

